// colors imported

$white: #ffffff;
$light-black: #494949;
$light-blue: #00d4e5;
$light-red: #f60000;
$light-green: #319185;
$header-green: #85e6a7;
$button-green: #5cc157;
$beers-background: #a7d0e8;
$beers-background-top: #232d5f;
$locations-background: #b2b2b2;
$locations-background-top: #4b4f5d;
$light-grey: #f1f1f1;
$tab-blue: #5FA5D7;
$border-blue: #afd9e5;
