// colors imported

$white: #ffffff;
$light-black: #494949;
$link-color: #62A8E5;
$link-hover: #8EC1ED;
$button-green: #5cc157;
$button-blue: #0575bc;
$button-grey: #b0b0b0;
$light-grey: #F0F2EB;
$h1-background: #D4EE5E;
$h2-background: #FF4242;
$header-background: #F0F2EB;
$positive-notication: #3dd152;
$negative-notification: #efed24;
$tab-blue: #5FA5D7;
