// colors imported

$white: #ffffff;
$light-black: #494949;
$light-blue: #00d4e5;
$light-red: #f60000;
$light-green: #319185;
$button-green: #5cc157;
$yellow: #e0dc65;
$light-grey: #e3e3e3;
$tab-grey: #f3f3f3;
$tab-blue: #b3deff;
