// mixins imported

@mixin noSelect () {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin borderRadius ($pixels) {
    -webkit-border-radius: $pixels;
    -moz-border-radius: $pixels;
    -ms-border-radius: $pixels;
    border-radius: $pixels;
}
