@import './reset.scss';
@import './_colors.scss';
@import './_mixins.scss';

#show-me-beer {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    width: 100%;
    color: $light-black;

    .main-header {
        width: 25%;
        padding: 15px;
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;

        .main-navigation {
            float: right;

            li {
                display: block;
                float: left;
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }

                img {
                    height: 50px;
                    width: auto;
                }
            }
        }
    }

    .main {
        float: left;
        width: 100%;
    }

    h1 {
        font-size: 4.5em;
        margin-bottom: 15px;
        color: $light-grey;
    }

    h2 {
        font-size: 1.5em;
        margin-bottom: 15px;

        &.intro-headings {
            font-family: 'Oleo Script', cursive;
            font-size: 4em;

            &.blue {

                a {
                    color: $light-blue;
                }
            }

            &.red {

                a {
                    color: $light-red;
                }
            }
        }
    }

    h3 {
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    a {
        text-decoration: none;
        color: $light-green;
    }

    p {
        margin-bottom: 15px;
        line-height: 1.5em;
    }

    .hidden {
        display: none;
    }

    .split {
        box-sizing: border-box;
        position: relative;
        padding: 10px 15px;
        float: left;
        width: 100%;
        margin-bottom: 10px;

        &.half {
            width: 100%;
        }

        &.heading {
            border-bottom: 1px solid #cccccc;
        }
    }

    ul {

        &.beers-list {

            li {
                width: 23.5%;
                margin-right: 2%;
                min-height: 300px;
                float: left;

                .beer-image {
                    height: 150px;
                    width: auto;
                }

                .beer-title {
                    display: block;
                    clear: both;
                }

                &:nth-child(4n){
                    margin-right: 0;
                }
            }
        }

        &.tabs-list {
            float: left;

            li {
                line-height: 1.5em;
                float: left;
                margin: 5px 10px 5px 0;
                padding: 2px 10px;
                cursor: pointer;
                background: $white;
                @include noSelect;

                &.selected {
                    background: $tab-blue;
                }
            }
        }

        li {
            line-height: 1.5em;
        }
    }

    .filter-button {
        display: block;
        float: left;
        clear: both;
        cursor: pointer;
        margin-bottom: 15px;
    }

    .filter {
        float: left;
        width: 100%;
        background: $yellow;
        box-sizing: border-box;
        border: 15px solid $yellow;

        &.hide {
            display: none;
        }

        &.show {
            display: block;
        }

        &.beers {

            .tabs-list {
                width: 35%;
                margin-right: 5%;

                &.type {
                    width: 20%;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .postcode-form {
            margin-bottom: 10px;

            #postcode {
                border: none;
                padding: 6px 10px;
                font-size: 1em;
                color: $light-black;
                margin-right: 10px;
            }
        }
    }

    .button {
        padding: 6px 10px;
        border: none;
        background: $button-green;
        color: $white;
        font-size: 1em;
    }


    #mapid {
        height: 80vh;
    }

    .leaflet-popup-close-button {
        display: none;
    }

    @media only screen and (min-width : 1000px) {
        .split {

            &.half {
                width: 49%;
                margin-right: 2%;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
