@import './reset.scss';
@import './_colors.scss';
@import './_mixins.scss';

#show-me-beer {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    width: 100%;
    color: $light-black;

    .main-header {
        width: 25%;
        padding: 15px;
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;

        .main-navigation {
            float: right;

            li {
                display: block;
                float: left;
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }

                img {
                    height: 50px;
                    width: auto;
                }
            }
        }
    }

    .main {
        float: left;
        width: 100%;
    }

    h1 {
        font-family: 'Lora', serif;
        font-size: 6em;
        margin: 60px 0 15px;
        color: $light-black;
        padding: 15px;
    }

    h2 {
        font-size: 1.5em;
        margin-bottom: 15px;

        &.intro-headings {
            font-family: 'Oleo Script', cursive;
            font-size: 4em;

            &.blue {

                a {
                    color: $light-blue;
                }
            }

            &.red {

                a {
                    color: $light-red;
                }
            }
        }
    }

    h3 {
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    a {
        text-decoration: none;
        color: $light-green;
    }

    p {
        margin-bottom: 15px;
        line-height: 1.5em;
    }

    .italic {
        font-style: italic;
    }

    .hidden {
        display: none;
    }

    .area {
        box-sizing: border-box;
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 2px solid $light-grey;

        &.location-header {
            height: 75vh;
            overflow: hidden;
            position: relative;
            border-bottom: none;

            .location-image {

            }

            .location-title {
                position: absolute;
                bottom: 0;
                left: 15px;
                background: $white;
                padding: 5px 25px 5px 25px;
                margin-bottom: 0;
                width: auto;
            }
        }

        &.half {
            width: 100%;
        }

        &.buffer {
            padding: 15px;
        }

        &.beer {
            // background: $beers-background;
            // border-top: 10px solid $beers-background-top;

            // h2 {
            //     color: $white;
            // }
        }

        &.locations {
            // background: $locations-background;
            // border-top: 10px solid $locations-background-top;
            //
            // h2 {
            //     color: $white;
            // }
        }

        .beer-image {
            width: auto;
            max-height: 500px;
            margin: 0 auto;
            position: relative;
            display: block;
        }
    }

    ul {

        &.beers-list {
            width: 100%;
            float: left;

            li {
                width: 100%;
                min-height: 270px;
                float: left;
                background: $white;
                box-sizing: border-box;
                position: relative;

                .beer-image {
                    height: 150px;
                    width: auto;
                    margin: 25px auto 0;
                    position: relative;
                    display: block;
                }

                .beer-details {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    box-sizing: border-box;
                    border: 10px solid $white;
                    text-align: center;
                }

                .beer-title {
                    display: block;
                    clear: both;
                    text-align: center;
                }

                &:nth-child(4n){
                    margin-right: 0;
                }
            }
        }

        &.tabs-list {
            float: left;

            li {
                line-height: 1.5em;
                float: left;
                margin: 5px 10px 5px 0;
                padding: 2px 10px;
                cursor: pointer;
                background: $white;
                @include noSelect;

                &.selected {
                    background: $tab-blue;
                    color: $white;
                }
            }
        }

        li {
            line-height: 1.5em;
        }
    }

    .filter-button {
        display: block;
        float: left;
        clear: both;
        cursor: pointer;
        color: $light-black;
        margin-bottom: 0;
        width: 100%;
    }

    .filter {
        float: left;
        width: 100%;
        margin-bottom: 10px;
        background: $light-grey;
        box-sizing: border-box;
        border: 15px solid $light-grey;

        .tabs {
            margin: 15px 0 10px;
            float: left;
            width: 100%;
        }

        &.hide {

            .tabs {
                display: none;
            }
        }

        &.show {

            .tabs {
                display: block;
            }
        }

        &.beers {

            .tabs-list {
                float: left;
                clear: both;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .postcode-form {
            margin-bottom: 15px;

            #postcode {
                border: none;
                padding: 6px 10px;
                font-size: 1em;
                color: $light-black;
                margin-right: 10px;
            }
        }
    }

    .button {
        padding: 6px 10px;
        border: none;
        background: $button-green;
        color: $white;
        font-size: 1em;
    }


    #mapid {
        height: 80vh;
    }

    .leaflet-popup-close-button {
        display: none;
    }

    @media only screen and (min-width : 1000px) {
        h1 {
            width: 80%;
        }

        .area {

            &.half {
                width: 49%;
                margin-right: 2%;

                &:last-child,
                &.end {
                    margin-right: 0;
                }
            }
        }

        ul {

            &.beers-list {

                li {
                    width: 23.5%;
                    margin: 2% 2% 0 0;

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        margin-top: 0;
                    }

                    &:nth-child(4n){
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
